#title {
    text-align: center;
    margin-bottom: 0;
}
.sub-title {
    text-align: center;
}
#main {
    background-color: gray;
}
#img-div {
    align-items: center;
}
#image {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 180px;
    max-width: 800px;
    height: auto;
    margin: auto;
    
}
#img-caption {
    text-align: center;
    text-decoration: underline;
}
#tribute-info {
    background-color: aliceblue;
}
h2 {
    text-align: center;
}
#trubute-link:hover {
    color: pink;
    cursor: pointer;
}